@model SisTransp.Dominio.Entidades.Ruta

@{
    ViewBag.Title = "Editar Ruta";
}

<div class="container-fluid">

    <div class="card">

        <div class="card-header">
            <h4>Editar Ruta</h4>
        </div>

        <div class="card-body">

            @using (Html.BeginForm())
            {
                @Html.HiddenFor(x => x.IdRuta)

                <div class="row">

                    <div class="col-md-4">
                        <label>Origen</label>

                        @Html.TextBoxFor(
                        x => x.Origen,
                        new { @class = "form-control" })
                    </div>

                    <div class="col-md-4">
                        <label>Destino</label>

                        @Html.TextBoxFor(
                        x => x.Destino,
                        new { @class = "form-control" })
                    </div>

                    <div class="col-md-4">
                        <label>Distancia Km</label>

                        @Html.TextBoxFor(
                        x => x.DistanciaKm,
                        new { @class = "form-control", type = "number", step = "0.01" })
                    </div>

                </div>

                <br />

                <button class="btn btn-danger">
                    Actualizar
                </button>

                <a href="/Ruta" class="btn btn-secondary">
                    Volver
                </a>
            }

        </div>

    </div>

</div>